<% content_for :title do %>New Harvest Source<% end %>

<%= render partial: 'shared/ajax_modal' %>

<div id="main-container" class="container">
  <%= render :partial=>'/flash_msg', layout: 'shared/flash_messages' %>
    <h1>New Harvest Source</h1>

    <%= render partial: 'form', locals: { action: 'create' } %>

    <%= link_to 'Back',
        institution_harvest_sources_path(
          institution_id: @harvest_source.institution_id
        )
    %>
</div>