<%= render partial: 'shared/ajax_modal' %>

<div id="main-container" class="container">
  <%= render :partial=>'/flash_msg', layout: 'shared/flash_messages' %>
  <h1>New Institution</h1>
  <%= render 'form' %>

<%= link_to 'Back', institutions_path %>
</div>
