<% content_for :title do %>Report Lists - <%= params[:id] %><% end %>

<div id="main-container" class="container">
  <h1>Reports for <%= params[:id] %></h1>
  <%= render "validation_report_list" %>
</div>
