<ul class="facet-values list-unstyled">
  <li>
    <span class="facet-label">
      <a class="facet-select">BLANK</a>
    </span>
    <span class="facet-count"><%= blank_facet_count(facet_field) %></span>
  </li>
</ul>
