<% content_for :title do %>Providers<% end %>

<div id='main-container' class='container'>
  <%= render :partial=>'krikri/shared/flash_message' %>

  <h1>Dashboard</h1>
  <h2><%= current_provider_name %></h2>

  <ul>
  <% @providers.each do |provider| %>
    <li>
      <%= link_to provider.value, { controller: 'providers', action: 'show',
        id: provider.value } %>
    </li>
  <% end %>
  </ul>

</div>
