<% content_for :title do %>Providers<% end %>

<div id='main-container' class='container'>
  <%= render :partial=>'krikri/shared/flash_message' %>

  <h1>Dashboard</h1>
  <h2><%= provider_name(@current_provider) %></h2>

  <ul>
  <% @providers.each do |provider| %>
    <li>
      <%= link_to provider_name(provider.value), { controller: 'providers', 
        action: 'show', id: provider.value } %>
    </li>
  <% end %>
  </ul>

</div>
