<% content_for :title do %>Dashboard - <%= session[:provider] %><% end %>

<div id='main-container' class='container'>
  <h2>Dashboard</h2>
  <div><%= session[:provider] %></div>

  <h3>Current Ingest</h3>
  <div>QA Tasks</div>
  <ul>
    <li><%= link_to 'Records', krikri.records_path %></li>
    <li><%= link_to 'Reports', krikri.report_lists_path %></li>
  </ul>
</div>
