<% content_for :title do %><%= params[:id] %><% end %>

<div id='main-container' class='container'>
  <h2><%= params[:id] %></h2>

  <h3>Current Ingest</h3>
  <div>QA Tasks</div>
  <ul>
    <li><%= link_to 'Records', krikri.records_path %></li>
    <li><%= link_to 'Reports', krikri.report_lists_path %></li>
  </ul>
</div>
