<%= render 'sort_and_per_page' %>

<div id='documents'>
  <% @documents.each do |doc| %>
    <div class='document'>
      <dl class='document-metadata dl-horizontal dl-invert'>
        <dt>ID:</dt>
        <dd>
          <%= link_to doc.id, :controller => 'records', :action => 'show',
          :id => local_name(doc.id), :provider => @current_provider, :method => :get %>
        </dd>
        <% if doc['sourceResource_title'].present? %>
          <dt>Title:</dt>
          <% doc['sourceResource_title'].each do |title| %>
            <dd><%= title %></dd>
          <% end %>
        <% end %>
        <% if doc['isShownAt_id'].present? %>
          <dt>Is Shown At:</dt>
          <% doc['isShownAt_id'].each do |is_shown_at| %>
            <dd><%= link_to is_shown_at, is_shown_at %></dd>
          <% end %>
        <% end %>
      </dl>
    </div>
  <% end %>
</div>
