<div id='header-navbar' class='navbar navbar-inverse navbar-static-top' role='navigation'>
  <div class='container'>
    <div class='navbar-right'>
    <ul class='nav navbar-nav'>
        <li><%= link_to 'Admin', krikri.admin_index_path %></li>
        <% if session[:provider].present? %>
          <li><%= link_to session[:provider], 
            krikri.dashboard_path(id: session[:provider]) %></li>
          <li><%= link_to 'Records', krikri.records_path %></li>
          <li><%= link_to 'Reports', krikri.report_lists_path %></li>
        <% end %>
    </ul>
  </div>
</div>
</div>
